
body {
    background-color: rgba(0, 119, 255, 0.726);
    font: normal 11pt Arial;
}

header {
    text-align: center;
    color: white;

}

section {
    background-color: white;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.534);
    border-radius: 8px;
}

footer {
    text-align: center;
    color: rgba(255, 255, 255, 0.699);
}

div{
    text-align: center;
}

img{
    width: 300px;
    border-radius: 50%;
    display: block;
    margin: auto;
    padding: 20px;
}
